# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE and editor files
*.swp
*.swo
*.idea/
.vscode/

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.DS_Store